@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=VT323&display=swap');

body {
    background-color: rgb(169, 93, 212);
    margin: 0;
}

.todo-conteudo {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: rgb(123, 48, 162);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: rgb(123, 50, 162);
    border: 6px solid #ff4571;
    box-shadow: inset 0 0 0 4px #261142;
}


h1 {
    color: #f9dc4a;
    font-size: 100px;
    font-family: VT323;
    text-shadow:
        -2px -2px #261142,
        2px -2px #261142,
        -2px 2px #261142,
        2px 2px #261142;
    margin: 0;
}


nav a {
    color: #f9cfe9;
    text-decoration: none;
    margin-left: 24px;
    font-size: 50px;
    font-family: VT323;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4571;
}

.conteudo-padrao {
    padding: 20px 35px;
    background-color: rgb(123, 50, 162);
    border: 6px solid #ff4571;
    box-shadow: inset 0 0 0 4px #261142;
}

.conteudo-padrao h2 {
    color: #f9dc4a;
    font-size: 75px;
    font-family: VT323;
    text-shadow:
        -2px -2px #261142,
        2px -2px #261142,
        -2px 2px #261142,
        2px 2px #261142;
    margin: 0;
}

.conteudo-padrao img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ff4571;
    margin-right: 20px;

}

.conteudo-padrao a{
    width: 200px;
    height: 200px;
}

.conteudo-padrao div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

#listas ul{
    font-size: 40px;
    list-style-type: square;
}

#img-contato img{
    border: none;
    margin: 0px;
}